<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoToolboxEncoder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18419BF81E5E805700CE25FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18419C111E5E805700CE25FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18419C1C1E5E805700CE25FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
